.status.svelte-11bb5tr{text-align:end;color:#fff;font-weight:600}.swap.svelte-11bb5tr{display:flex;margin:auto;align-items:center;justify-content:center}.swap.svelte-11bb5tr div:where(.svelte-11bb5tr){font-size:x-large}
